<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header">
                  <div class="d-flex align-items-center">
                    <h5 class="mr-auto">Product Lists</h5>
                    <div class="btn-group" role="group">
                      <button class="btn btn-secondary" (click)="createProduct()">Create Product</button>
                    </div>
                  </div>
              </div>
              <div class="card-body">
                  <div id="batchDelete" class="custom-datatable">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>SL</th>
                                <th>Name</th>
                                <th>Style</th>
                                <th>Status</th>
                                <th>New</th>
                                <th>Sale</th>
                                <th>Price</th>
                                <th style="width: 20%;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngIf="productList?.length < 1">
                                  <td colspan="8" class="text-center">No data found</td>
                              </tr>  
                              <tr *ngFor="let product of productList; let i = index;">
                                <td>{{i + 1}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.productStyle}}</td>
                                <td>
                                    <span *ngIf="product.isActive" class='badge badge-success'>Active</span>
                                    <span *ngIf="!product.isActive" class='badge badge-primary'>Inactive</span>
                                </td>
                                <td>
                                    <span *ngIf="product.new" class='badge badge-success'>Active</span>
                                    <span *ngIf="!product.new" class='badge badge-primary'>Inactive</span>
                                </td>
                                <td>
                                    <span *ngIf="product.sale" class='badge badge-success'>Active</span>
                                    <span *ngIf="!product.sale" class='badge badge-primary'>Inactive</span>
                                </td>
                                <td>{{product.price}}</td>
                                <td>
                                  <button class="btn btn-info btn-sm" (click)="viewProduct(product)" ><i class="fa fa-eye fa-lg"></i></button>
                                  <button class="btn btn-primary btn-sm ml-2" (click)="editProduct(product)" ><i class="fa fa-pencil-square-o fa-lg"></i></button>
                                  <button class="btn btn-danger btn-sm ml-2" (click)="deleteProduct(product.id)" ><i class="fa fa-trash-o fa-lg"></i></button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
                <p class="loading">Loading...</p>
              </ngx-spinner>
          </div>
      </div>
  </div>
</div>