
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h5 class="mr-auto">Tag Details</h5>
          <div class="btn-group" role="group">
            <button class="btn btn-secondary" (click)="createTag()">Create Tag</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center" *ngIf="tags?.length < 1"><h3 class="text-danger">No Data Found !</h3></div>

        <div class="row table-center">
          <th class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr *ngIf="tags?.length >= 1">
                  <th>SL</th>
                  <th>Tag Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tag of tags; let i = index;">
                  <td>{{i + 1}}</td>
                  <td>{{tag.name}}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" (click)="editTag(tag)" ><i class="fa fa-pencil-square-o"></i> Edit</button>
                    <button class="btn btn-danger btn-sm ml-2" (click)="deleteTag(tag.id)" ><i class="fa fa-trash-o"></i> Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner>
</div>
<!-- Container-fluid Ends-->
