<div class="modal-header">
  <h5 class="modal-title f-w-600" id="exampleModalLabel">{{ title }}</h5>
  <button type="button" class="close" aria-label="Close"
  (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="paymentTypeForm" id="paymentTypeForm" class="needs-validation">
    <div class="form-group">
      <label for="name" class="label-title">Payment Type Name <span>*</span></label>
      <input type="hidden" id="id" formControlName="id" />
      <input type="text" [ngClass]="{'is-invalid': paymentTypeForm.get('name').errors 
          && (paymentTypeForm.get('name').touched 
          || paymentTypeForm.get('name').dirty)}" id="name" formControlName="name" class="form-control"
        placeholder="" />
      <div class="invalid-feedback" *ngIf="paymentTypeForm.get('name').hasError('required')">
        payment type name is required !
      </div>
    </div>
    <div class="form-group">
      <label for="displayOrder" class="label-title">Display Order <span>*</span></label>
      <input type="number" [ngClass]="{'is-invalid': paymentTypeForm.get('displayOrder').errors 
          && (paymentTypeForm.get('displayOrder').touched 
          || paymentTypeForm.get('displayOrder').dirty)}" id="displayOrder" formControlName="displayOrder"
        class="form-control" placeholder="" />
      <div class="invalid-feedback" *ngIf="paymentTypeForm.get('displayOrder').hasError('required')">
        display order is required !
      </div>
    </div>

    <div class="form-group" *ngIf="paymentType">
      <img src="{{fileUrl + paymentType.imagePath || '../../../../../../assets/user.png'}}" width="106px" height="70px" alt="{{paymentType.name}}">
    </div>

    <div class="form-group mb-0">
      <label for="validationCustom02" class="mb-1">Image <span>*</span></label>
      <input class="form-control" id="validationCustom02" type="file" (change)="onFileChange($event)" #fileInput  accept="image/*">
  </div>
  </form>

  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner>
</div>
<div class="modal-footer">
  <!-- <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancel</button> -->

  <button type="button" class="btn btn-primary" [disabled]="!paymentTypeForm.valid" (click)="onSubmit()" form="paymentTypeForm">Save</button>
  <button class="btn btn-secondary" type="button" data-dismiss="modal"
  (click)="bsModalRef.hide()">Close</button>
</div>