<div class="modal-header">
  <h5 class="modal-title f-w-600" id="exampleModalLabel">{{ title }}</h5>
  <button type="button" class="close" aria-label="Close"
  (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="ratioForm" id="ratioForm" class="needs-validation">
    <div class="form-group">
      <label for="name" class="label-title">Ratio Name <span>*</span></label>
      <input type="hidden" id="id" formControlName="id" />
      <input type="text" [ngClass]="{'is-invalid': ratioForm.get('name').errors 
          && (ratioForm.get('name').touched 
          || ratioForm.get('name').dirty)}" id="name" formControlName="name" class="form-control"
        placeholder="" />
      <div class="invalid-feedback" *ngIf="ratioForm.get('name').hasError('required')">
        ratio name is required !
      </div>
    </div>
  </form>

  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!ratioForm.valid" (click)="onSubmit()" form="ratioForm">Save</button>
  <button class="btn btn-secondary" type="button" data-dismiss="modal"
  (click)="bsModalRef.hide()">Close</button>
</div>