
<div class="modal-header">
    <h5 class="modal-title f-w-600" id="exampleModalLabel">{{ title }}</h5>
    <button type="button" class="close" aria-label="Close"
    (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="sliderForm" id="sliderForm" class="needs-validation">
        <div class="form">
            <div class="form-group">
                <label for="validationCustom01" class="mb-1">Slider Title <span>*</span></label>
                <input type="text" [ngClass]="{'is-invalid': sliderForm.get('title').errors 
                && (sliderForm.get('title').touched 
                || sliderForm.get('title').dirty)}" id="title" formControlName="title" class="form-control"
              placeholder="" />

              <div class="invalid-feedback" *ngIf="sliderForm.get('title').hasError('required')">
                slider title is required !
              </div>
            </div>
            <div class="form-group">
                <label for="validationCustom02" class="mb-1">Description <span>*</span></label>
                <input type="text" [ngClass]="{'is-invalid': sliderForm.get('description').errors 
                && (sliderForm.get('description').touched 
                || sliderForm.get('description').dirty)}" id="description" formControlName="description" class="form-control"
                placeholder="" />
            <div class="invalid-feedback" *ngIf="sliderForm.get('description').hasError('required')">
                description is required !
            </div>
            </div>

            <div class="form-group">
                <label for="validationCustom02" class="mb-1">Navigate URL<span>*</span></label>
                <input type="text" [ngClass]="{'is-invalid': sliderForm.get('navigateUrl').errors 
                && (sliderForm.get('navigateUrl').touched 
                || sliderForm.get('navigateUrl').dirty)}" id="navigateUrl" formControlName="navigateUrl" class="form-control"
                placeholder="" />
            <div class="invalid-feedback" *ngIf="sliderForm.get('navigateUrl').hasError('required')">
                navigate url is required !
            </div>
            </div>

            <div class="form-group">
                <label for="validationCustom02" class="mb-1">Display Order <span>*</span></label>
                <input type="number" [ngClass]="{'is-invalid': sliderForm.get('displayOrder').errors 
                && (sliderForm.get('displayOrder').touched 
                || sliderForm.get('displayOrder').dirty)}" id="displayOrder" formControlName="displayOrder"
                class="form-control" placeholder="" />
            <div class="invalid-feedback" *ngIf="sliderForm.get('displayOrder').hasError('required')">
                display order is required !
            </div>
            </div>
            <div class="form-group" *ngIf="slider">
                <img src="{{fileUrl + slider.imagePath || '../../../../../../assets/user.png'}}" width="106px" height="70px" alt="{{slider.title}}">
              </div>

              <div class="form-group mb-0">
                <label for="validationCustom02" class="mb-1">Slider Image <span>*</span></label>
                <input class="form-control" id="validationCustom02" type="file" (change)="onFileChange($event)" #fileInput  accept="image/*">
            </div>

        </div>
    </form>
    <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
        <p class="loading">Loading...</p>
      </ngx-spinner>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!sliderForm.valid" (click)="onSubmit()" form="sliderForm">Save</button>
    <button class="btn btn-secondary" type="button" data-dismiss="modal"
    (click)="bsModalRef.hide()">Close</button>
</div>