<div class="modal-header">
  <h5 class="modal-title f-w-600" id="exampleModalLabel">{{ title }}</h5>
  <button type="button" class="close" aria-label="Close"
  (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="colorForm" id="colorForm" class="needs-validation">
    <div class="form-group">
      <label for="name" class="label-title">Color Name <span>*</span></label>
      <input type="hidden" id="id" formControlName="id" />
      <input type="text" [ngClass]="{'is-invalid': colorForm.get('name').errors 
          && (colorForm.get('name').touched 
          || colorForm.get('name').dirty)}" id="name" formControlName="name" class="form-control"
        placeholder="" />
      <div class="invalid-feedback" *ngIf="colorForm.get('name').hasError('required')">
        color name is required !
      </div>
    </div>

    <div class="form-group">
      <label for="colorCode" class="label-title">Choose Color <span>*</span></label>
      <!-- <input type="color" [ngClass]="{'is-invalid': colorForm.get('colorCode').errors 
          && (colorForm.get('colorCode').touched 
          || colorForm.get('colorCode').dirty)}" id="colorCode" formControlName="colorCode"
        class="form-control" placeholder="" /> -->

        <!-- <input [(colorPicker)]="colorCode" value="colorCode" id="colorCode" formControlName="colorCode" class="form-control"/> -->
        <input [ngClass]="{'is-invalid': colorForm.get('colorCode').errors 
        && (colorForm.get('colorCode').touched 
        || colorForm.get('colorCode').dirty)}" id="colorCode" formControlName="colorCode"
        class="form-control" [value]="colorCode" (colorPickerChange)="onColorCodeChange(colorCode)" [(colorPicker)]="colorCode"/>

      <div class="invalid-feedback" *ngIf="colorForm.get('colorCode').hasError('required')">
        color code is required !
      </div>
    </div>
  </form>

  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!colorForm.valid" (click)="onSubmit()" form="colorForm">Save</button>
  <button class="btn btn-secondary" type="button" data-dismiss="modal"
  (click)="bsModalRef.hide()">Close</button>
</div>