<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h5 class="mr-auto">All User List</h5>
            <div class="btn-group" role="group">
              <button class="btn btn-secondary" (click)="createEmployeeForm()">Create User</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row table-center">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Employee Id</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="users?.length <= 0" class="text-center">
                    <td colspan="10">No Data Found</td>
                  </tr>
                  <ng-container *ngFor="let user of users">
                    <tr>
                      <td>{{user.id}}</td>
                      <td>{{user.userName}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.employeeId}}</td>
                      <td><button class="btn btn-danger btn-sm" [disabled]="user.userName === 'Admin'"
                          (click)="deleteUser(user.id)"><i class="fa fa-trash"></i></button></td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner>
</div>