<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h5 class="mr-auto">Category Details</h5>
          <div class="btn-group" role="group">
            <button class="btn btn-secondary" (click)="createCategory()">Create Category</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row table-center">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>SL</th>
                  <th>Category Name</th>
                  <th style="width: 20%;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="categories?.length <= 0" class="text-center">
                  <td colspan="3">No Data Found</td>
                </tr>
                <ng-container *ngFor="let category of categories; let i = index;">

                  <tr>
                    <td>{{i + 1}}</td>
                    <td>{{category.name}}</td>
                    <td>
                      <button class="btn btn-success btn-sm mr-2" (click)="showSubCategory(category.id)" ><i class="fa fa-eye"></i></button>
                      <button class="btn btn-primary btn-sm mr-2" (click)="updateCategory(category)" ><i class="fa fa-pencil-square-o"></i></button>
                      <button class="btn btn-danger btn-sm" (click)="deleteCategory(category.id)" ><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>

                  <tr *ngIf="showCategoryId === category.id && show">
                    <td colspan="3">
                      <div class="sub-sub-menu-list">
                        <div class="form-inline py-3">
                          <h5 class="modal-title f-w-600 mr-auto">
                            Sub Category List
                          </h5>
                          <div class="mat-spacer text-right">
                            <button type="button" class="btn btn-secondary btn-sm" (click)="createSubCategory(category.id)">
                              Create sub category
                            </button>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <tr>
                              <th>SL</th>
                              <th>Sub Category Name</th>
                              <th style="width: 20%;">Action</th>
                            </tr>
                            <tr *ngIf="category.subCategories?.length <= 0" class="text-center">
                              <td colspan="3">No Data Found</td>
                            </tr>
                            <tr *ngFor="let subCategory of category.subCategories;let k = index">
                              <td>{{ k + 1 }}</td>
                              <td>{{ subCategory.name }}</td>
                              <td>
                                <button class="btn btn-primary btn-sm ml-2" (click)="updateSubCategory(subCategory, category.id)">
                                  <i class="fa fa-pencil-square-o"></i>
                                </button>
                                <button class="btn btn-danger btn-sm ml-2" (click)="deleteSubCategory(subCategory.id)">
                                  <i class="fa fa-trash-o"></i>
                                </button>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                  
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>


      </div>
  </div>
  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner>
</div>
<!-- Container-fluid Ends-->

