<div class="container-fluid">
  <div class="card">
    <div class="card-body tab2-card tab2-card">
      <tabset [justified]="true" #staticTabs>
        <tab heading="General"  [active]="true" (selectTab)="onSelect($event)">
          <form [formGroup]="productForm" id="productForm" (submit)="onSubmit()">
            <div class="row product-adding">
              <div class="col-xl-6">
                <div class="card">
                  <div class="card-header">
                    <h5>General</h5>
                  </div>
                  <div class="card-body">
                    <div class="digital-add needs-validation">
                      <div class="form-group">
                        <label for="name" class="col-form-label pt-0"><span>*</span> Name</label>
                        <input type="text" [ngClass]="{
                            'is-invalid':
                              productForm.get('name').errors &&
                              (productForm.get('name').touched ||
                                productForm.get('name').dirty)
                          }" id="name" formControlName="name" class="form-control" placeholder="" />
                        <div class="invalid-feedback" *ngIf="productForm.get('name').hasError('required')">
                          name is required !
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="productStyle" class="col-form-label pt-0"><span>*</span> Product Style</label>
                        <input type="text" [ngClass]="{
                            'is-invalid':
                              productForm.get('productStyle').errors &&
                              (productForm.get('productStyle').touched ||
                                productForm.get('productStyle').dirty)
                          }" id="productStyle" formControlName="productStyle" class="form-control" placeholder="" />
                        <div class="invalid-feedback" *ngIf="
                            productForm
                              .get('productStyle')
                              .hasError('required')
                          ">
                          product style is required !
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-form-label" for="categoryId"><span>*</span> Categories</label>
                        <select class="custom-select" id="categoryId" [ngClass]="{
                            'is-invalid':
                              productForm.get('categoryId').errors &&
                              (productForm.get('categoryId').touched ||
                                productForm.get('categoryId').dirty)
                          }" formControlName="categoryId" (change)="onSelectCategory()">
                          <option [ngValue]="null">---Select---</option>
                          <option *ngFor="let category of categoryList" [ngValue]="category.id">{{ category.name }}
                          </option>
                        </select>
                        <div class="invalid-feedback" *ngIf="
                            productForm.get('categoryId').hasError('required')
                          ">
                          category is required !
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-form-label" for="subCategoryId"><span>*</span> Sub Categories</label>
                        <select class="custom-select" id="subCategoryId" [ngClass]="{
                            'is-invalid':
                              productForm.get('subCategoryId').errors &&
                              (productForm.get('subCategoryId').touched ||
                                productForm.get('subCategoryId').dirty)
                          }" formControlName="subCategoryId">
                          <option [ngValue]="null">---Select---</option>
                          <option *ngFor="let subCategory of subCategoryList" [ngValue]="subCategory.id">
                            {{ subCategory.name }}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="
                            productForm
                              .get('subCategoryId')
                              .hasError('required')
                          ">
                          sub category is required !
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="price" class="col-form-label pt-0"><span>*</span> Price</label>
                        <input type="number" [ngClass]="{
                            'is-invalid':
                              productForm.get('price').errors &&
                              (productForm.get('price').touched ||
                                productForm.get('price').dirty)
                          }" id="price" formControlName="price" class="form-control" placeholder="" />
                        <div class="invalid-feedback" *ngIf="
                            productForm.get('price').hasError('required')
                          ">
                          product price is required !
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="stock" class="col-form-label pt-0"><span>*</span> Stock</label>
                        <input type="number" [ngClass]="{
                            'is-invalid':
                              productForm.get('stock').errors &&
                              (productForm.get('stock').touched ||
                                productForm.get('stock').dirty)
                          }" id="stock" formControlName="stock" class="form-control" placeholder="" />
                        <div class="invalid-feedback" *ngIf="
                            productForm.get('stock').hasError('required')
                          ">
                          product stock is required !
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="salePrice" class="col-form-label pt-0">Sale Price</label>
                        <input type="text" id="salePrice" formControlName="salePrice" class="form-control"
                          placeholder="" />
                      </div>

                      <div class="form-group">
                        <label for="discount" class="col-form-label pt-0">Discount</label>
                        <input type="number" id="discount" formControlName="discount" class="form-control"
                          placeholder="" />
                      </div>

                      <div class="form-group">
                        <label class="col-form-label"><span>*</span> Status</label>
                        <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                          <label class="d-block" for="edo-ani">
                            <input class="radio_animated" id="edo-ani" type="radio" formControlName="isActive"
                              [value]="true" />
                            Enable
                          </label>
                          <label class="d-block" for="edo-ani1">
                            <input class="radio_animated" id="edo-ani1" type="radio" formControlName="isActive"
                              [value]="false" />
                            Disable
                          </label>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-form-label"><span>*</span> New</label>
                        <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                          <label class="d-block" for="new">
                            <input class="radio_animated" id="new" type="radio" formControlName="new"
                              [value]="true" />
                            Enable
                          </label>
                          <label class="d-block" for="new1">
                            <input class="radio_animated" id="new1" type="radio" formControlName="new"
                              [value]="false" />
                            Disable
                          </label>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-form-label"><span>*</span> Sale</label>
                        <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                          <label class="d-block" for="sale">
                            <input class="radio_animated" id="sale" type="radio" formControlName="sale"
                              [value]="true" />
                            Enable
                          </label>
                          <label class="d-block" for="sale1">
                            <input class="radio_animated" id="sale1" type="radio" formControlName="sale"
                              [value]="false" />
                            Disable
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card">
                  <div class="card-header">
                    <h5>Decription</h5>
                  </div>
                  <div class="card-body">
                    <div class="digital-add needs-validation">
                      <div class="form-group">
                        <label for="fabric" class="col-form-label pt-0">Fabric</label>
                        <input type="text" id="fabric" formControlName="fabric" class="form-control" placeholder="" />
                      </div>

                      <div class="form-group">
                        <label class="col-form-label" for="shortDescription"><span>*</span> Sort Description</label>
                        <textarea rows="5" cols="12" [ngClass]="{
                            'is-invalid':
                              productForm.get('shortDescription').errors &&
                              (productForm.get('shortDescription').touched ||
                                productForm.get('shortDescription').dirty)
                          }" id="shortDescription" formControlName="shortDescription" class="form-control"
                          placeholder=""></textarea>
                        <div class="invalid-feedback" *ngIf="
                            productForm.get('categoryId').hasError('required')
                          ">
                          short description is required !
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-form-label" for="longDescription"><span>*</span> Long Description</label>

                        <div class="description-sm">
                          <ck-editor id="longDescription" language="en" [ngClass]="{
                              'is-invalid':
                                productForm.get('longDescription').errors &&
                                (productForm.get('longDescription').touched ||
                                  productForm.get('longDescription').dirty)
                            }" [formControl]="
                              productForm.controls['longDescription']
                            " [fullPage]="false"></ck-editor>
                          <div class="invalid-feedback" *ngIf="
                              productForm
                                .get('longDescription')
                                .hasError('required')
                            ">
                            long description is required !
                          </div>
                        </div>
                      </div>

                      <div class="form-group mb-0">
                        <div class="product-buttons text-center">
                          <button type="submit" class="btn btn-primary mr-1">
                            Add
                          </button>
                          <button type="button" class="btn btn-light" (click)="onClear()">
                            Discard
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
                <p class="loading">Loading...</p>
              </ngx-spinner>
            </div>
          </form>
        </tab>
       
        <tab heading="Images" (selectTab)="onSelect($event)">
           <app-add-product-image [productFromCreateProduct]="product"></app-add-product-image>
        </tab>
        <tab heading="Color" (selectTab)="onSelect($event)">
          <app-create-color [productFromCreateProduct]="product"></app-create-color>
        </tab>
        <tab heading="Size" (selectTab)="onSelect($event)">
          <app-create-size [productFromCreateProduct]="product"></app-create-size>
        </tab>
      </tabset>
    </div>
  </div>
</div>