img.img-thumbnail {
    height: 100px;
    min-width: 75px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}
.my-drop-zone {
    box-shadow: 1px 5px 24px 0 rgba(75, 102, 242, 1.05);
}
