<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h5 class="mr-auto">Payment Type Details</h5>
          <div class="btn-group" role="group">
            <button class="btn btn-secondary" (click)="createPaymentType()">Create Payment Type</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center" *ngIf="paymentTypes?.length < 1"><h3 class="text-danger">No Data Found !</h3></div>

        <div class="row table-center">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr *ngIf="paymentTypes?.length >= 1">
                  <td>SL</td>
                  <td>Name</td>
                  <td>Display Order</td>
                  <td>Image</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let paymentType of paymentTypes; let i = index;">
                  <td>{{i}}</td>
                  <td>{{paymentType.name}}</td>
                  <td>{{paymentType.displayOrder}}</td>
                  <td><img src="{{fileUrl + paymentType.imagePath || '../../../../../../assets/user.png'}}" width="53px" height="35" alt="{{paymentType.name}}"></td>
                  <td>
                    <button class="btn btn-primary btn-sm" (click)="editPaymentType(paymentType)" ><i class="fa fa-pencil-square-o"></i> Edit</button>
                    <button class="btn btn-danger btn-sm ml-2" (click)="deletePaymentType(paymentType.id)" ><i class="fa fa-trash-o"></i> Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
  </div>
  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner>
</div>
<!-- Container-fluid Ends-->
