<!-- <a ngbNavLink (click)="imagePanel()">Images</a> -->
  <div class="row" *ngIf="product == null">
    <p>Please save product first</p>
  </div>
  <div class="row" *ngIf="product && isActive">
    <div class="card col-md-12">
      <div class="card-body">
        <div class="row mb-2">
          <h4>Image List:</h4>
        </div>
        <div class="row ml-1 mr-1">
          <p class="text-center" *ngIf="productImage?.length < 1">no image found</p>
          <div class="col-sm-2 mb-2" *ngFor="let photo of productImage">
            <img src="{{ fileUrl + photo.image }}" class="img-thumbnail p-1" alt="photo" />
            <div class="text-center">
              <button type="button" class="btn btn-sm btn-primary" (click)="deleteImage(photo.id, photo.productId)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <h4>Upload Image:</h4>
        </div>
        <div class="row mt-3 ml-1 mr-1">
          <div class="col-md-3">
            <h3>Add Photos</h3>

            <div ng2FileDrop [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }" (fileOver)="fileOverBase($event)"
              [uploader]="uploader" class="card bg-faded p-3 text-center mb-3 my-drop-zone">
              <i class="fa fa-upload fa-3x"></i>
              Drop photos here
            </div>

            Multiple
            <input type="file" class="from-control" ng2FileSelect [uploader]="uploader" multiple /><br />

            Single
            <input type="file" ng2FileSelect [uploader]="uploader" />
          </div>
          <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">
            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th>Size</th>
                  <th>Progress</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td>
                    <strong>{{ item?.file?.name }}</strong>
                  </td>
                  <td *ngIf="uploader.options.isHTML5" nowrap>
                    {{
                                item?.file?.size / 1024 / 1024 | number: ".2"
                              }}
                    MB
                  </td>
                  <td *ngIf="uploader.options.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ width: item.progress + '%' }">
                      </div>
                    </div>
                  </td>
                  <td nowrap style="float: right;">
                    <button type="button" class="btn btn-danger btn-sm text-right" (click)="item.remove()">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div>
              <div>
                Queue progress:
                <div class="progress mb-4">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ width: uploader.progress + '%' }">
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-success btn-sm" (click)="uploader.uploadAll()"
                [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-sm ml-2" (click)="uploader.cancelAll()"
                [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-sm ml-2" (click)="uploader.clearQueue()"
                [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove
              </button>
            </div>
          </div>
        </div>
      </div>
      <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
        <p class="loading">Loading...</p>
      </ngx-spinner>
    </div>
  </div>