<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h5 class="mr-auto">Menu List</h5>
            <div class="btn-group" role="group">
              <button class="btn btn-secondary" (click)="onCreateMenu()">
                Create Menu
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row table-center">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>SL</th>
                    <th>Menu Name</th>
                    <th>Url</th>
                    <th>Type</th>
                    <th class="text-center">Mega Menu</th>
                    <th>Mega Menu Type</th>
                    <th>Display Order</th>
                    <th style="width: 20%;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="menus?.length <= 0" class="text-center">
                    <td colspan="10">No Data Found</td>
                  </tr>
                  <ng-container *ngFor="let menu of menus; let i = index">
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td>{{ menu.title }}</td>
                      <td>{{ menu.path }}</td>
                      <td>{{ menu.type }}</td>
                      <td class="text-center" *ngIf="menu.megaMenu === true">
                        <span class="badge badge-info notification-badge" style="font-size:20px;">
                          <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </span>
                      </td>

                      <td class="text-center" *ngIf="menu.megaMenu === false">
                        <span class="badge badge-primary notification-badge" style="font-size:20px;">
                          <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </span>
                      </td>

                      <td>{{ menu.megaMenuType }}</td>
                      <td>{{ menu.displayOrder }}</td>
                      <td>
                        <button class="btn btn-success btn-sm" (click)="onSubMenuShowClick(menu.id)">
                          <i class="fa fa-eye"></i>
                        </button>
                        <button class="btn btn-primary btn-sm ml-2" (click)="onEditMenu(menu)">
                          <i class="fa fa-pencil-square-o"></i>
                        </button>
                        <button class="btn btn-danger btn-sm ml-2" (click)="onDeleteMenu(menu.id)">
                          <i class="fa fa-trash-o"></i>
                        </button>
                      </td>
                    </tr>

                    <tr *ngIf="showMenuId === menu.id && show">
                      <td colspan="8">
                        <div class="sub-menu-list">
                          <div class="form-inline py-3">
                            <h5 class="modal-title f-w-600 mr-auto">
                              Sub menu list
                            </h5>
                            <div class="mat-spacer text-right">
                              <button type="button" class="btn btn-secondary btn-sm"
                                (click)="onCreateSubMenu(menu.title, menu.id)">
                                Create sub menu
                              </button>
                            </div>
                          </div>

                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <tr>
                                <th>SL</th>
                                <th>Sub Menu Name</th>
                                <th>Menu Name</th>
                                <th>Url</th>
                                <th>Type</th>
                                <th class="text-center">Mega Menu</th>
                                <th>Mega Menu Type</th>
                                <th>Display Order</th>
                                <th style="width: 20%;">Action</th>
                              </tr>
                              <tr *ngIf="menu.subMenus?.length <= 0" class="text-center">
                                <td colspan="10">No Data Found</td>
                              </tr>
                              <ng-container *ngFor="
                                  let subMenu of menu.subMenus;
                                  let j = index
                                ">
                                <tr>
                                  <td>{{ j + 1 }}</td>
                                  <td>{{ subMenu.title }}</td>
                                  <td>{{ menu.title }}</td>
                                  <td>{{ subMenu.path }}</td>
                                  <td>{{ subMenu.type }}</td>
                                  <td class="text-center" *ngIf="subMenu.megaMenu === true">
                                    <span class="badge badge-info notification-badge" style="font-size:20px;">
                                      <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>

                                  <td class="text-center" *ngIf="subMenu.megaMenu === false">
                                    <span class="badge badge-primary notification-badge" style="font-size:20px;">
                                      <i class="fa fa-times-circle" aria-hidden="true"></i>
                                    </span>
                                  </td>
                                  <td>{{ subMenu.megaMenuType }}</td>
                                  <td>{{ subMenu.displayOrder }}</td>
                                  <td>
                                    <button class="btn btn-success btn-sm" (click)="
                                        onSubSubMenuShowClick(subMenu.id)
                                      ">
                                      <i class="fa fa-eye"></i>
                                    </button>
                                    <button class="btn btn-primary btn-sm ml-2" (click)="
                                        onEditSubMenu(subMenu, menu.title)
                                      ">
                                      <i class="fa fa-pencil-square-o"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm ml-2" (click)="
                                        onDeleteSubMenu(subMenu.id, menu.id)
                                      ">
                                      <i class="fa fa-trash-o"></i>
                                    </button>
                                  </td>
                                </tr>
                                <tr *ngIf="
                                    showSubMenuId === subMenu.id && showSubSub
                                  ">
                                  <td colspan="10">
                                    <div class="sub-sub-menu-list">
                                      <div class="form-inline py-3">
                                        <h5 class="modal-title f-w-600 mr-auto">
                                          Sub Sub Menu List
                                        </h5>
                                        <div class="mat-spacer text-right">
                                          <button type="button" class="btn btn-secondary btn-sm" (click)="
                                              onCreateSubSubMenu(
                                                subMenu.title,
                                                subMenu.id
                                              )
                                            ">
                                            Create sub sub menu
                                          </button>
                                        </div>
                                      </div>
                                      <div class="table-responsive">
                                        <table class="table table-bordered">
                                          <tr>
                                            <th>SL</th>
                                            <th>Sub Sub Menu Name</th>
                                            <th>Sub Menu Name</th>
                                            <th>Menu Name</th>
                                            <th>Url</th>
                                            <th>Type</th>
                                            <th class="text-center">
                                              Mega Menu
                                            </th>
                                            <th>Mega Menu Type</th>
                                            <th>Display Order</th>
                                            <th style="width: 20%;">Action</th>
                                          </tr>
                                          <tr *ngIf="
                                              subMenu.subSubMenus?.length <= 0
                                            " class="text-center">
                                            <td colspan="6">No Data Found</td>
                                          </tr>
                                          <tr *ngFor="
                                              let subSubMenu of subMenu.subSubMenus;
                                              let k = index
                                            ">
                                            <td>{{ k + 1 }}</td>
                                            <td>{{ subSubMenu.title }}</td>
                                            <td>{{ subMenu.title }}</td>
                                            <td>{{ menu.title }}</td>
                                            <td>{{ subSubMenu.path }}</td>
                                            <td>{{ subSubMenu.type }}</td>
                                            <td class="text-center" *ngIf="
                                                subSubMenu.megaMenu === true
                                              ">
                                              <span class="badge badge-info notification-badge" style="font-size:20px;">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                              </span>
                                            </td>

                                            <td class="text-center" *ngIf="
                                                subSubMenu.megaMenu === false
                                              ">
                                              <span class="badge badge-primary notification-badge"
                                                style="font-size:20px;">
                                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                                              </span>
                                            </td>
                                            <td>
                                              {{ subSubMenu.megaMenuType }}
                                            </td>
                                            <td>
                                              {{ subSubMenu.displayOrder }}
                                            </td>
                                            <td>
                                              <button class="btn btn-primary btn-sm ml-2" (click)="
                                                  onEditSubSubMenu(
                                                    subSubMenu,
                                                    subMenu.title
                                                  )
                                                ">
                                                <i class="fa fa-pencil-square-o"></i>
                                              </button>
                                              <button class="btn btn-danger btn-sm ml-2" (click)="
                                                  onDeleteSubSubMenu(
                                                    subSubMenu.id,
                                                    subMenu.id
                                                  )
                                                ">
                                                <i class="fa fa-trash-o"></i>
                                              </button>
                                            </td>
                                          </tr>
                                        </table>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </ng-container>
                            </table>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
                <p class="loading">Loading...</p>
              </ngx-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- <wbr-pivot #pivot [toolbar]="true"
          [width]="'100%'"
          [height]="500"
          [report]="'https://cdn.webdatarocks.com/reports/report.json'">
    WebDataRocks will appear here
</wbr-pivot> -->
<wbr-pivot #pivot [toolbar]="true"
          [width]="'100%'"
          [height]="500"
          (ready)="onPivotReady($event)"
          (reportcomplete)="onReportComplete()">
    WebDataRocks will appear here
</wbr-pivot>
