
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h5 class="mr-auto">Size Details</h5>
          <div class="btn-group" role="group">
            <button class="btn btn-secondary" (click)="createSize()">Create Size</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row table-center">
          <th class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>SL</th>
                  <th>Size Name</th>
                  <th style="width: 20%;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="sizes?.length < 1">
                  <td colspan="3" class="text-center">No data found</td>
                </tr> 
                <tr *ngFor="let size of sizes; let i = index;">
                  <td>{{i + 1}}</td>
                  <td>{{size.name}}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" (click)="editSize(size)" ><i class="fa fa-pencil-square-o"></i> Edit</button>
                    <button class="btn btn-danger btn-sm ml-2" (click)="deleteSize(size.id)" ><i class="fa fa-trash-o"></i> Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner>
</div>
<!-- Container-fluid Ends-->
