<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 footer-copyright">
            <p class="mb-0">Copyright 2020 © All Rights Reserved</p>
        </div>
        <div class="col-md-6">
            <p class="pull-right mb-0">Powered by <a href="#">ERP Team</a></p>
        </div>
    </div>
</div>