<div class="row" *ngIf="product == null">
  <p>Please save product first</p>
</div>
<div class="row" *ngIf="product && isActive">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>Size List</h5>
      </div>
      <div class="card-body">
        <p class="text-center" *ngIf="productSizes?.length < 1">
          Size List is Empty
        </p>

        <div class="row" *ngIf="productSizes?.length > 0">
          <div class="mb-4 col-md-12" *ngFor="let productSize of productSizeArray">
            <p>{{productSize.color}}</p>
            <hr>
            <div class="table-responsive table-responsive-sm">
              <table class="table table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th *ngFor="let item of productSize.productSize">{{item.sizeName}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let item of productSize.productSize">
                      <span class="label label-sm label-success">Qty: </span> {{item.stock}}<br><br>
                      <span class="label label-sm label-success">Price: </span> {{item.price}}<br><br>
                      <button class="btn btn-danger btn-xs" (click)="deleteProductSize(item.id)"><span class="fa fa-trash-o"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h2>hi 2222</h2>
  </div>
</div>