<div class="modal-header">
  <h5 class="modal-title f-w-600" id="exampleModalLabel">Create User</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="employeeForm" (submit)="onSubmit()" class="needs-validation">
    <div class="form-group">
      <label for="userName" class="label-title">User Name <span>*</span></label>
      <input type="text" [ngClass]="{'is-invalid': employeeForm.get('userName').errors 
      && (employeeForm.get('userName').touched 
      || employeeForm.get('userName').dirty)}" id="userName" formControlName="userName" class="form-control"
        placeholder="User Name" />
      <div class="invalid-feedback" *ngIf="employeeForm.get('userName').hasError('required')">
        user name is required
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="label-title">Email <span>*</span></label>
      <input type="text" [ngClass]="{'is-invalid': employeeForm.get('email').errors 
      && (employeeForm.get('email').touched 
      || employeeForm.get('email').dirty)}" id="email" formControlName="email" class="form-control"
        placeholder="Email" />
      <div class="invalid-feedback" *ngIf="employeeForm.get('email').hasError('required')">
        email is required
      </div>
    </div>
    <div class="form-group">
      <label for="employeeId" class="label-title">Employee Id <span>*</span></label>
      <input type="text" [ngClass]="{'is-invalid': employeeForm.get('employeeId').errors 
      && (employeeForm.get('employeeId').touched 
      || employeeForm.get('employeeId').dirty)}" id="employeeId" formControlName="employeeId" class="form-control"
        placeholder="Employee Id" />
      <div class="invalid-feedback" *ngIf="employeeForm.get('employeeId').hasError('required')">
        employee id is required
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="label-title">Password <span>*</span></label>
      <input type="password" [ngClass]="{'is-invalid': employeeForm.get('password').errors 
      && (employeeForm.get('password').touched 
      || employeeForm.get('password').dirty)}" id="password" formControlName="password" class="form-control"
        placeholder="password" />
      <div class="invalid-feedback" *ngIf="employeeForm.get('password').hasError('required')">
        password id is required
      </div>
    </div>

  </form>

  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!employeeForm.valid" (click)="onSubmit()"
    form="employeeForm">
    Save</button>

  <!-- <button type="button" class="btn btn-warning" (click)="onClear()"><i class="fa fa-circle-o-notch" aria-hidden="true"></i> Clear</button> -->

  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
</div>