<div class="row" *ngIf="product == null">
  <p>Please save product first</p>
</div>
<div class="row" *ngIf="product && isActive">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>Color List</h5>
      </div>
      <div class="card-body">
        <p class="text-center" *ngIf="productColors?.length < 1">
          Color List is Empty
        </p>

        <div class="row" *ngIf="productColors?.length > 0">
          <div class="mb-4 col-md-3" *ngFor="let productColor of productColors">
            <div class="card">
              <img src="{{ fileUrl + productColor.images }}" class="card-img-top" style="width: 100%;"
                alt="{{ product.productStyle }}" />
              <div class="card-body">
                <h5 class="card-title">
                  Name: {{ productColor.colorName }}
                </h5>
                <p class="card-text">
                  Style: {{ product.productStyle }}
                </p>
                <div class="text-center">
                  <button class="btn btn-primary btn-sm" (click)="deleteProductColor(productColor.colorId, productColor.productId)">
                    <i class="fa fa-trash-o fa-lg"></i>
                  </button>
                  <button class="btn btn-success btn-sm ml-2" (click)="updateProductColor(productColor)">
                    <i class="fa fa-pencil-square-o fa-lg"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <form [formGroup]="productColorForm" id="productColorForm" (submit)="onColorSubmit()">
    <div class="card">
      <div class="card-header">
        <h5>Add Color</h5>
      </div>
      <div class="card-body">
        <div class="digital-add needs-validation">
          <div class="form-group">
            <label class="col-form-label" for="colorId"><span>*</span> Colors</label>
            <select class="custom-select" id="colorId" [ngClass]="{
                'is-invalid':
                  productColorForm.get('colorId').errors &&
                  (productColorForm.get('colorId').touched ||
                    productColorForm.get('colorId').dirty)
              }" formControlName="colorId">
              <option selected [ngValue]="null">---Select---</option>
              <option *ngFor="let color of colorList" [ngValue]="color.id">{{ color.name }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="productColorForm.get('colorId').hasError('required')">
              color is required !
            </div>
          </div>

          <div class="form-group">
            <label for="validationCustom03" class="mb-1">Image <span>*</span></label>
            <input class="form-control" id="validationCustom03" type="file" (change)="onFileChange($event)" #fileInput  accept="image/*">
          </div>

          <div class="form-group">
            <input type="hidden" id="id" formControlName="id" />
            <input type="hidden" id="productId" formControlName="productId" />

            <div class="product-buttons text-center">
              <button type="submit" [disabled]="!productColorForm.valid" class="btn btn-primary mr-1">
                Add
              </button>
              <button type="button" class="btn btn-light" (click)="onColorClear()">
                Discard
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>