<div class="modal-header">
  <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit Roles for {{user.userName}}</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form #rolesForm="ngForm" id="rolesForm" class="">
    <div class="row text-left">
      <div class="col-md-12">
        <!-- <div class="col-md-4 form-check-inline" *ngFor="let role of roles; let i = index;"> -->
            <div class="form-check form-check-inline col-md-4" style="margin-right: 0px !important;" *ngFor="let role of roles; let i = index;">
              <input type="checkbox" (change)="role.checked = !role.checked"
                [disabled]="role.name === 'Admin' && user.userName === 'Admin'" class="form-check-input text-left" value="{{role.name}}"
                [checked]="role.checked">
              <label>{{role.name}}</label>
            </div>
        <!-- </div> -->
      </div>
    </div>
  </form>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="updateRoles()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
</div>