/* You can add global styles to this file, and also import other style files */
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";

a {
    cursor: pointer;
}
.card {
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.20);
}

.btn-sm { 
    padding: 0.25rem 0.5rem !important;
}