<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h5 class="mr-auto">All User List With Role</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="row table-center">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Active Role</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="users?.length <= 0" class="text-center">
                    <td colspan="10">No Data Found</td>
                  </tr>
                  <ng-container *ngFor="let user of users">
                    <tr>
                      <td>{{user.id}}</td>
                      <td>{{user.userName}}</td>
                      <td>{{user.roles}}</td>
                      <td>
                        <button class="btn btn-success btn-sm" (click)="editRolesModal(user)">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Roles
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner> -->
</div>
