<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h5 class="mr-auto">Banner Details</h5>
          <div class="btn-group" role="group">
            <button class="btn btn-secondary" (click)="createBanner()">Create Banner</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center" *ngIf="banners?.length < 1"><h3 class="text-danger">No Data Found !</h3></div>

          <div class="row">
            <div class="mb-4 col-md-4" *ngFor="let banner of banners">
              <div class="card">
                <img src="{{fileUrl + banner.imagePath}}" class="card-img-top" style="width: 100%;" alt="{{banner.title}}">
                <div class="card-body">
                  <h5 class="card-title text-center">Title: {{banner.title}}</h5>
                  <p class="card-text">NavigateUrl: {{banner.navigateUrl}}</p>
                  <p class="card-text">Description: {{banner.description}}</p>
                  <p class="card-text">Display Order: {{banner.displayOrder}}</p>
                  <div class="text-center">
                    <button class="btn btn-danger" (click)="deleteBanner(banner.id)"> Delete</button>
                    <button class="btn btn-success ml-2" (click)="updateBanner(banner)">Update</button>
                  </div>
                  
                </div>
              
            </div>
            </div>
          </div>


      </div>
  </div>
  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner>
</div>
<!-- Container-fluid Ends-->
