
<div class="modal-header">
  <h5 class="modal-title f-w-600" id="exampleModalLabel">{{ title }}</h5>
  <button type="button" class="close" aria-label="Close"
  (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="subCategoryForm" id="subCategoryForm" class="needs-validation">
      <div class="form">
          <div class="form-group">
              <label for="validationCustom01" class="mb-1">Sub Category Name <span>*</span></label>
              <input type="text" [ngClass]="{'is-invalid': subCategoryForm.get('name').errors 
              && (subCategoryForm.get('name').touched 
              || subCategoryForm.get('name').dirty)}" id="name" formControlName="name" class="form-control"
            placeholder="" />

            <div class="invalid-feedback" *ngIf="subCategoryForm.get('name').hasError('required')">
             sub category name is required !
            </div>
          </div>

      </div>
  </form>
  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
      <p class="loading">Loading...</p>
    </ngx-spinner>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!subCategoryForm.valid" (click)="onSubmit()" form="subCategoryForm">Save</button>
  <button class="btn btn-secondary" type="button" data-dismiss="modal"
  (click)="bsModalRef.hide()">Close</button>
</div>
