<div class="modal-header">
    <h5 class="modal-title f-w-600" id="exampleModalLabel">Create Menu</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="menuForm" id="menuForm" class="needs-validation">
       
        <div class="form-group">
            <label for="title" class="label-title">Menu title <span>*</span></label>
            <input type="hidden" id="id" formControlName="id" />
            <input type="text" [ngClass]="{'is-invalid': menuForm.get('title').errors 
            && (menuForm.get('title').touched 
            || menuForm.get('title').dirty)}" id="title" formControlName="title" class="form-control" />
            <div class="invalid-feedback" *ngIf="menuForm.get('title').hasError('required')">
                menu title is required !
            </div>
        </div>

        <div class="form-group">
            <label for="displayOrder" class="label-title">Display order <span>*</span></label>
            <input type="number" [ngClass]="{'is-invalid': menuForm.get('displayOrder').errors 
            && (menuForm.get('displayOrder').touched 
            || menuForm.get('displayOrder').dirty)}" id="displayOrder" formControlName="displayOrder"
                class="form-control" />
            <div class="invalid-feedback" *ngIf="menuForm.get('displayOrder').hasError('required')">
                display order is required !
            </div>
        </div>

        <div class="form-group">
            <label for="path" class="label-title">URL <span>*</span></label>
            <input type="text" [ngClass]="{'is-invalid': menuForm.get('path').errors 
            && (menuForm.get('path').touched 
            || menuForm.get('path').dirty)}" id="path" formControlName="path"
                class="form-control" />
            <div class="invalid-feedback" *ngIf="menuForm.get('path').hasError('required')">
               url is required !
            </div>
        </div>

        <div class="form-group">
            <label for="type" class="label-title">Menu Type <span>*</span></label>
            <select class="custom-select form-control" required="" formControlName="type">  
                <option value="">--Select--</option>
                <option value="sub">Sub</option>
                <option value="link">Link</option>
                <option value="exttablink">Ext Tab Link</option>
            </select>
        </div>

        <div class="form-group">
            <label for="megaMenu" class="label-title">Megamenu</label>
            <div class="checkbox checkbox-primary">
                <input id="checkbox-primary-2" formControlName="megaMenu" type="checkbox"
                    data-original-title="" title="">
                <label for="checkbox-primary-2">Megamenu?</label>
            </div>
        </div>

        <div class="form-group" *ngIf="menuForm.get('megaMenu').value === true">
            <label for="megaMenuType" class="label-title">Mega Menu Type <span>*</span></label>
            <select class="custom-select form-control" formControlName="megaMenuType">
                <option value="">--Select--</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
            </select>
        </div>
    </form>

    <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
        <p class="loading">Loading...</p>
      </ngx-spinner>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!menuForm.valid" (click)="onSubmit()" form="menuForm">
        Save</button>

    <!-- <button type="button" class="btn btn-warning" (click)="onClear()"><i class="fa fa-circle-o-notch" aria-hidden="true"></i> Clear</button> -->

    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
</div>