
<div class="modal-header">
  <h5 class="modal-title f-w-600" id="exampleModalLabel">{{ title }}</h5>
  <button type="button" class="close" aria-label="Close"
  (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="bannerForm" id="bannerForm" class="needs-validation">
      <div class="form">
          <div class="form-group">
              <label for="validationCustom01" class="mb-1">Banner Title <span>*</span></label>
              <input type="text" [ngClass]="{'is-invalid': bannerForm.get('title').errors 
              && (bannerForm.get('title').touched 
              || bannerForm.get('title').dirty)}" id="title" formControlName="title" class="form-control"
            placeholder="" />

            <div class="invalid-feedback" *ngIf="bannerForm.get('title').hasError('required')">
              Banner title is required !
            </div>
          </div>
          <div class="form-group">
              <label for="validationCustom02" class="mb-1">Description <span>*</span></label>
              <input type="text" [ngClass]="{'is-invalid': bannerForm.get('description').errors 
              && (bannerForm.get('description').touched 
              || bannerForm.get('description').dirty)}" id="description" formControlName="description" class="form-control"
              placeholder="" />
          <div class="invalid-feedback" *ngIf="bannerForm.get('description').hasError('required')">
              Description is required !
          </div>
          </div>

          <div class="form-group">
              <label for="validationCustom02" class="mb-1">Navigate URL<span>*</span></label>
              <input type="text" [ngClass]="{'is-invalid': bannerForm.get('navigateUrl').errors 
              && (bannerForm.get('navigateUrl').touched 
              || bannerForm.get('navigateUrl').dirty)}" id="navigateUrl" formControlName="navigateUrl" class="form-control"
              placeholder="" />
          <div class="invalid-feedback" *ngIf="bannerForm.get('navigateUrl').hasError('required')">
              Navigate url is required !
          </div>
          </div>

          <div class="form-group">
              <label for="validationCustom02" class="mb-1">Display Order <span>*</span></label>
              <input type="number" [ngClass]="{'is-invalid': bannerForm.get('displayOrder').errors 
              && (bannerForm.get('displayOrder').touched 
              || bannerForm.get('displayOrder').dirty)}" id="displayOrder" formControlName="displayOrder"
              class="form-control" placeholder="" />
          <div class="invalid-feedback" *ngIf="bannerForm.get('displayOrder').hasError('required')">
              Display order is required !
          </div>
          </div>
          <div class="form-group" *ngIf="banner">
              <img src="{{fileUrl + banner.imagePath || '../../../../../../assets/user.png'}}" width="106px" height="70px" alt="{{banner.title}}">
            </div>

            <div class="form-group mb-0">
              <label for="validationCustom02" class="mb-1">Banner Image <span>*</span></label>
              <input class="form-control" id="validationCustom02" type="file" (change)="onFileChange($event)" #fileInput  accept="image/*">
          </div>

      </div>
  </form>

  <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
    <p class="loading">Loading...</p>
  </ngx-spinner>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!bannerForm.valid" (click)="onSubmit()" form="bannerForm">Save</button>
  <button class="btn btn-secondary" type="button" data-dismiss="modal"
  (click)="bsModalRef.hide()">Close</button>
</div>